OPENAI_API_KEY=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
ELEVENLABS_API_KEY=sk_c2d075fcd1714d08332f5b5e9e6732e046a2031f02936692
ELEVENLABS_VOICE_ID=cOlWiyQO1Kc4Kp7plcEJ
PORT=3000
